main {
    background-color: #dddddd;
}

.card {
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    align-content: center;
}

.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
}

.orange {
    color: blue;
}

.green {
    color: yellow;
}

.blue {
    color: purple;
}

.ms-text {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}