main {
    background-color: #dddddd;
}

.card {
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
}

.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
}